*{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
/*resetar o css da pagina*/

body{
    display: grid;
    grid-template-areas:
    "header header header"
    "aside1 main aside2"
    "footer footer footer";
    grid-template-columns: 2fr 6fr 2fr;
    grid-template-rows: auto auto auto;
}

.header{
    grid-area: header;
    background-color: rgb(94, 133, 39);
    padding: 2px;

}

.header img{
    width: 99vw;
    height: 400px;
    opacity: 80%;
} 

.aside1{
    grid-area: aside1;
    background-color: rgb(251, 60, 60);
    padding: 100px;
}

.main{
    grid-area: main;
    background-color: rgb(5, 83, 192);
    padding: 100px;
}

.aside2{
    grid-area: aside2;
    background-color: rgb(95, 63, 39);
    padding: 100px;
}

.footer{
    grid-area: footer;
    background-color: rgb(124, 185, 136);
    padding: 100px;
}

