@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400&display=swap');
*{
    font-family: 'Popins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
/*resetar o css da pagina*/

body{
    display: grid;
    grid-template-areas:
    "header header header"
    "aside1 main aside2"
    "footer footer footer";
    grid-template-columns: 2fr 6fr 2fr;
    grid-template-rows: 500px auto auto;
}
/* body de todas as paginas */

/* inicio do header */
.header{
    grid-area: header;
    background-color: rgb(255, 255, 255);
    padding: 2px;
    z-index: 100;
}
/* imagem do header */
.header img{ 
    width: 100%;
    height: 100%;
    box-shadow: 6px 8px 15px rgba(0, 0, 0, 0.371); 

} 
/* fim do header */

/* aside primeiro */
.aside1{
    grid-area: aside1;
    background-color: white;
    padding: 20px;
    text-align: center;
}
.aside1 a img{
    width: 200px;
}
/* parte principal da pagina, main */
.main{
    grid-area: main;
    background-color: white;
    padding: 50px;
    color: white;
    
}
/* primeira imagem do main */
.main img{
    width: 700px;
}
/* paragrafo do main */
.main p{
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    text-align: justify; /*alinhar em ambos os lados*/
    position: inherit; /*serve para compactar os textos*/
}
form{
    color: black;
}
#main2{
    color: black;
    border: #78bcfc solid 2px;
    border-radius: 7px;

}
/* paragrafo das formulas e as imagens */
.formula{
    text-align: center;
}
.formula p{
    text-align: center;
}
.formula img{
    width: 100px;
}
/* imagens dinamicas sobre as leis e as imagens com links para outras paginas*/
.divimagemdinamica{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}
.divimagemdinamica img{
    width: 350px;
    margin: 50px;
}
.divterceiralei img{
    width: 400px;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav img{
    width: 300px;
    margin: 30px;
    
}
.moduloaceleracao img{
    width: 100px;
}
.aceleracaodelta img{
    width: 300px;
}
.forcaresultante img{
    width: 200px;
}
/* fim das imagens dinamicas */

/* inicio dos elementos do main */
.main, .elementomae{
    align-items: center;
    justify-content: center;
    text-align: center;

}
.main, .elementomae p{
    text-align: center;
}
.elementomae{
    padding: 1px;
    background-color: white;
}
.calculadorasoma{
    padding: 5px;
    border: solid rgba(0, 0, 0, 0.547) 2px;
    background-color: #70baffec;
    border-radius: 5px;
}

/* botao de calcular das calculadoras */
.botaocalcular input{
    width: 100px;
    height: 30px;
    font-size: 15px;
    color: #399fff;
    background-color: white;
    border: 1px solid #349dff;
}
.botaomaismenos input{
    width: 70px;
    height: 30px;
    font-size: 15px;
    color: #399fff;
    background-color: white;
    border: 1px solid #349dff;
}
/* fim dos elementos do main */

/* segundo aside */
.aside2{
    grid-area: aside2;
    background-color: white;
    padding: 100px;
}

/* footer de todas as paginas */
.footer{
    grid-area: footer;
    background-color: rgb(124, 185, 136);
    padding: 100px;
}

/* cor das respostas na pagina de exercicios */
.verde{
    color: green;
}
.vermelho{
    color: red;
}
/* fim das cores das respostas */