*{
    font-family: 'Popins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
/*resetar o css da pagina*/

body{
    display: grid;
    grid-template-areas:
    "header header header"
    "aside1 main aside2"
    "footer footer footer";
    grid-template-columns: 2fr 6fr 2fr;
    grid-template-rows: auto auto auto;
}

.header{
    grid-area: header;
    background-color: rgb(94, 133, 39);
    padding: 2px;

}

.header img{
    width: 99vw;
    height: 400px;

} 

.aside1{
    grid-area: aside1;
    background-color: rgb(255, 255, 255);
    padding: 100px;
}

.main{
    grid-area: main;
    background-color: rgb(255, 255, 255);
    padding: 100px;
    box-shadow: black;
}
p{
    font-size: 20px;
}

.verde{
    color: green;
}
.vermelho{
    color: red;
}

.aside2{
    grid-area: aside2;
    background-color: rgba(255, 255, 255, 0.863);
    padding: 100px;
}

.footer{
    grid-area: footer;
    background-color: rgba(255, 0, 0, 0.466);
    padding: 100px;
}

